{
    auto_https disable_redirects

}

:80 {
    encode zstd gzip

    @api path /api/* /static/* /health
    reverse_proxy @api backend:8080

    root * /srv
    try_files {path} /index.html
    file_server

    header /assets/* Cache-Control "public, max-age=31536000, immutable"
}
